/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin-left: 100px; margin-right: 100px; margin-top: 50px; background-color: #212529;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {font-family: sans-serif;}